<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/main.css">
    <title>MongoChat</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="../../public/js/client.js"></script>
</head>
<body>
<%- body%>
</body>
</html>